html, body {
	font-family: sans-serif;
	background-image: url("assets/background.jpg");
	font-size: x-large;
}

.nav {
	background-color: black;
	opacity: 0.5;
	color: white;
	height: 70px;
	font-weight: bold;
	overflow: hidden;
	top: 0;
}

.nav a {
	color: lightgrey;
	text-decoration: none;
}

.nav a:hover {
	color: darkgrey;
}

.nav img {
	float: left;
	height: 50px;
	margin: 10px;
}

.nav li {
	float: right;
	padding-right: 20px;
	padding-left: 30px;
	padding-bottom: 20px;
	display: inline;
}

.nav img:hover {
	box-shadow: 0px 0px 5px white; 
}

.footer {
	background-color: white;
	opacity: 0.75;
	color: grey;
	height: 25px;
	padding: 20px;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.footer a {
	text-decoration: none;
	color: grey;
}

.footer a:hover {
	color: lightgrey;
}

.footer img {
	float: right;
	margin-right: 30px;
}

img {
	border-radius: 50%;
	height: 40px;
	width: auto;
	opacity: 1.0;
	display: inline-block;
    text-align: center;
}

img:hover {
	box-shadow: 0px 0px 5px black; 
}

.content {
	text-align: center;
	padding: 50px;

}

#intro {
  font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
  color: black;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
  }