<!DOCTYPE html>

<html>
<head>
	<title>Aakarsh Shekhar</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8"/>
	<meta name="description" content="Projects of Aakarsh Shekhar, a software engineering student at McGill University." />
	<meta name="keywords" content="Aakarsh, Shekhar, Aakarsh Shekhar, projects, McGill, McGill University, website, Montreal, developer" />

	<link rel="stylesheet" type="text/css" href="../style.css">

</head>
<body>
	<div class="nav" id="navbar">
		<a href="../index.html"><img src="../assets/home.png" alt="Home"></a>
		<ul>
			<li><a href="/">About Me</a></li>
			<li><a href="projects.html">Projects</a></li>
			<li><a href="../assets/resume.pdf" target="_blank">Resume</a></li>
		</ul>
	</div> <!-- /nav -->

	<div class="content">
		<h1 align="center">About Me</h1>

		<p>{[Sorry! Work under progress.]}</p>

	</div> <!-- /main content -->

	<div class="footer">
		<a href="https://github.com/aakarsh19/" target="_blank" alt="github"><img src="../assets/github_logo.png" style="margin-right: 70px;"></a>
		<a href="https://twitter.com/shekhar_aakarsh" target="_blank" alt="twitter"><img src="../assets/twitter_logo.png"></a>
		<a href="https://www.facebook.com/aakarsh.shekhar" target="_blank" alt="facebook"><img src="../assets/facebook_logo.png" style="border-radius: 0%; height: 37px;"></a>
		<a href="https://www.linkedin.com/in/aakarshshekhar/" target="_blank" alt="linkedin"><img src="../assets/linkedin_logo.png" style="border-radius: 0%; height: 37px;"></a>
	</div> <!-- /footers -->

	<script type="text/javascript" src="../js/scroll.js"></script>

</body>
</html>