<!DOCTYPE html>

<html>
<head>
	<title>Aakarsh Shekhar</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8"/>
	<meta name="description" content="Projects of Aakarsh Shekhar, a software engineering student at McGill University." />
	<meta name="keywords" content="Aakarsh, Shekhar, Aakarsh Shekhar, projects, McGill, McGill University, website, Montreal, developer" />

	<link rel="stylesheet" type="text/css" href="../style.css">

</head>
<body>
	<div class="nav" id="navbar">
		<a href="../index.html"><img src="../assets/home.png" alt="Home"></a>
		<ul>
			<li><a href="/">About Me</a></li>
			<li><a href="projects.html">Projects</a></li>
			<li><a href="../assets/resume.pdf" target="_blank">Resume</a></li>
		</ul>
	</div> <!-- /nav -->

	<div class="content">
		<h1 align="center">About Me</h1>
		
		<!--timeline -->
		<div class="timeline">
  			<div class="container left">
    			<div class="timelineContent">
      				<h2>September 2016</h2>
      				<p>Started Software Engineering degree at McGill University</p>
   				</div>
  			</div>
  			<div class="container right">
    			<div class="timelineContent">
      				<h2>May 2016</h2>
      				<p>Graduated high school - DPS RK Puram</p>
    			</div>
  			</div>
  			<div class="container left">
    			<div class="timelineContent">
      			<h2>2009</h2>
     			<p>Moved to New Delhi, India from Syracuse, NY</p>
    			</div>
  			</div>
  			<div class="container right" style="margin-bottom: 70px;">
    			<div class="timelineContent">
      				<h2>July 1998</h2>
      				<p>Born in Patna, India</p>
    			</div>
  			</div>
  		</div>

	</div> <!-- /main content -->

	<div class="footer">
		<a href="https://github.com/aakarsh19/" target="_blank"><img src="assets/github_logo.png" style="margin-right: 70px;"></a>
		<a href="https://twitter.com/shekhar_aakarsh" target="_blank"><img src="assets/twitter_logo.png"></a>
		<a href="https://www.facebook.com/aakarsh.shekhar" target="_blank"><img src="assets/facebook_logo.png" style="border-radius: 0%; height: 37px;"></a>
	</div> <!-- /footers -->

	<script type="text/javascript" src="../js/scroll.js"></script>

</body>
</html>