<!DOCTYPE html>

<html>
<head>
	<title>Aakarsh Shekhar</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8"/>
	<meta name="description" content="Projects of Aakarsh Shekhar, a software engineering student at McGill University." />
	<meta name="keywords" content="Aakarsh, Shekhar, Aakarsh Shekhar, projects, McGill, McGill University, website, Montreal, developer" />

	<link rel="stylesheet" type="text/css" href="../style.css">

</head>
<body>
	<div class="nav">
		<a href="../index.html"><img src="../assets/home.png" alt="Home"></a>
		<ul>
			<li><a href="aboutMe.html">About Me</a></li>
			<li><a href="/">Projects</a></li>
			<li><a href="../assets/resume.pdf">Resume</a></li>
		</ul>
	</div> <!-- /nav -->

	<div class="content">
		<h1 align="center">Projects</h1>
		<div class="card" id="c1">
			<a href="http://www.idea-bin.glitch.me/"><h2>IdeaBin</h2></a>
			<p id="ideabin">A website to connect young software developers with people to solve real-world problems.</p>
			<p><a href="https://github.com/aakarsh19/IdeaBin">GitHub repo</a></p>
		</div>
		<br>
		<div class="card" id="c2">
			<h2>PsychBot</h2>
			<p id="psychbot">A chatbot to help deal with psychological issues in the workplace.</p>
			<p><a href="https://github.com/aakarsh19/PsychBot">GitHub repo</a></p>
		</div>
		<br>
		<div class="card" id="c3" style="margin-bottom: 100px;">
			<h2>Loan Data Exploration and Prediction</h2>
			<p id="loandata">Finding common patterns in loan data and then predicting what really affects interest rates.</p>
			<p><a href="https://github.com/aakarsh19/Loan-data-exploration-and-prediction">GitHub repo</a></p>
		</div>
	
	</div> <!-- /main content -->

	<div class="footer">
		<a href="https://github.com/aakarsh19/"><img src="../assets/github_logo.png" style="margin-right: 70px;" alt="Github"></a>
		<a href="https://twitter.com/shekhar_aakarsh"><img src="../assets/twitter_logo.png" alt="Twitter"></a>
		<a href="https://www.facebook.com/aakarsh.shekhar"><img src="../assets/facebook_logo.png" style="border-radius: 0%; height: 37px;" alt="Facebook"></a>
	</div> <!-- /footers -->

	<script type="text/javascript" src="../js/projects.js"></script>

</body>
</html>